/* outfit-500 - latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/outfit-v6-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/outfit-v6-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* outfit-600 - latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: local(''),
  url('../fonts/outfit-v6-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/outfit-v6-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* outfit-700 - latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/outfit-v6-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/outfit-v6-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/rubik-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/rubik-v21-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/rubik-v21-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/rubik-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/rubik-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --header-bg-color: #fff;
  --hero-bg-color:#DBEBF8;
  --main-bg-color: #F4F9FD;
  --main-title-color: #050931;
  --main-desc-color:#767877;
  --main-btn-color:#1F6BFF;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  max-width: 1374px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/*Header Styles Start  */

.side-header{
  padding-top: 27px;
  padding-bottom: 26px;
}

.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-end{
  display: flex;
  align-items: center;
}
.nav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 565px;
  margin-right: 195px;
  margin-left: 280px;
}

.nav-item__link{
  font-size: 18px;
  line-height: 100%;
  color: rgba(34, 35, 38, 0.8);
}
.nav-item__link:active{
  font-weight: 600;
  color: #222326;
}

.header-call{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hader-call__img{
  width: 32px;
  height: 32px;
  padding: 10px;
  border: 1px solid var(--main-btn-color);
  border-radius: 50%;
  margin-right: 5px;
}

.class_header-call_link{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
  color: var(--main-title-color);
}

.header-call-title{
  font-size: 16px;
  line-height: 19px;
  color: var(--main-title-color);
  margin-bottom: 7px;
}
/*Header Styles End  */

/* Hero Section Styles Start */

.hero-section{
  background-image: url(../images/hero-img.png);
  background-position: calc(50% + 390px) calc(50% + 65px);
  background-repeat: no-repeat;
  background-color: var(--hero-bg-color);
  padding-top: 133px;
  /* padding-bottom: 91px; */
}

.hero-Wrapper{
  position: relative;
}

.hero-title{
  width: 641px;
  margin-bottom: 24px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 140%;
  color: var(--main-title-color);
}

.hero-desc{
  width: 617px;
  margin-bottom: 48px;
  font-size: 24px;
  line-height: 172%;
  color: var(--main-desc-color);
}

.more-btn{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--header-bg-color);
  margin-bottom: 92px;
  padding: 18px 40px;
  background-color: var(--main-btn-color);
  border: 3px solid var(--main-btn-color);
  border-radius: 4px;
  
}

.more-btn:hover{
  color: var(--main-btn-color);
  background-color: transparent;
  border: 3px solid var(--main-btn-color);
}

.hero-end{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 730px;
}

.hero-item__number{
  display: flex;
  flex-direction: column;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: var(--main-title-color);
}

.her-item__title{
  margin-top: 12px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: var(--main-desc-color);
}

.hero-end-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 359px;
  height: 225px;
  background-color: var(--header-bg-color);
  border-radius: 28px 28px 0px 0px;
}

.hero-end-right::before{
  position:absolute;
  top: calc(50% + 145px);
  left: calc(50% + 260px);
  content: "";
  width: 100px;
  height: 100px;
  background-color: #FCDC00;
  background-image: url(../images/icons/hero-users.svg);
  background-repeat: no-repeat;
  border-radius: 50%;
  
}

.hero-end-box__title{
  font-family: 'Outfit';
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: var(--main-title-color);
  margin-bottom: 48px;
  
}

.end-box-images{
  display: flex;
}

.end-box-img{
  padding: 6px 0 1px 2px;
  background-color: #48B774;
  border-radius: 50%;
}

.end-box-img:nth-child(2){
  padding: 6px 0 1px 2px;
  background-color: #FF8345;
  border-radius: 50%;
  margin-left: -25px;
}
.end-box-img:nth-child(3){
  padding: 6px 0 1px 2px;
  background-color: #FFCA45;
  border-radius: 50%;
  margin-left: -25px;
}
.end-box-img:nth-child(4){
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: var(--main-btn-color);
  margin-left: -25px;
  padding: 27px 25px 28px 26px;
  background-color: #EDEDED;
  border-radius: 50%;
}

/* Hero Section Styles End */
/* About Section Styles Start */
.about-section{
  padding-top: 120px;
  padding-bottom: 226px;
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 366px) center;
}

.underline-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 89px;
  margin-bottom: 12px;
}

.underline{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line{
  width: 38px;
  height: 2px;
  background:#FE6B01;
  border-radius: 100px;
}
.nuqta{
  width: 4px;
  height: 4px;
  background:#FE6B01;
  border-radius: 50%;
}

.about-us{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.about-section-title{
  width: 492px;
  margin-bottom: 24px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: var(--main-title-color);
}

.about-section-desc{
  font-size: 18px;
  line-height: 156%;
  color: var(--main-desc-color);
  margin-bottom: 20px;
  width: 500px;
}
.about-section-desc > strong>ins{
  color: #FE6B01;
}

.about-more__btn{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--header-bg-color);
  padding: 18px 40px;
  background-color: var(--main-btn-color);
  border: 3px solid var(--main-btn-color);
  border-radius: 4px;
  margin-top: 28px;
}

.about-more__btn:hover{
  color: var(--main-btn-color);
  background-color: transparent;
  border: 3px solid var(--main-btn-color);
}




/* About Section Styles End */